################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MailChamp/v16
/packages/Microsoft.Exchange.WebServices.2.2
/EmailHelper/bin/Debug
/EmailHelper/obj/Debug
/MailChamp/bin/Debug
/MailChamp/obj/Debug
/.vs/MailChamp/DesignTimeBuild
/MailChamp/obj
/MailChampWeb/bin
/MailChampWeb/obj/Debug
/packages
